.idea/
pytorch/
mine/data/
mine/chapter_multilayer_perceptrons/submission.csv
mine/chapter_builders'_guide/mlp_params
mine/chapter_builders'_guide/mydict-file
mine/chapter_builders'_guide/x-file
mine/chapter_builders'_guide/xy-files
mine/computational_performance/my_mlp